:root {
  --color-brand: #3A1F23;
  /* Azul oscuro Iberostar (Logo y Textos primarios) */
  --color-secondary: #7A5051;
  /* Verde agua/turquesa (Botones y acentos) */
  --color-dark: #AB8A8A;
  /* Gris oscuro para textos normales */
  --bg-light: #CAB19B;
  /* Gris muy claro para fondos */
  --bg-dark: #3A1F23;
  /* Footer */
  --white: #FFFFFF;
  --nav-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height);
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--bg-light);
  color: var(--color-dark);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--color-dark);
}

.text-white {
  color: var(--white);
}

.link-important {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: underline;
}